@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #76cb7529;
}

/* index.html */
.cocktails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-header {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: black;
  margin: 8px;
  position: relative;
}

.link-header:hover {
  color: #a1902b7a;
}

.link-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a1902b7a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link-header:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.banner-img {
  width: 100%;
  position: relative;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  color: white;
}

.banner-title {
  line-height: 50px;
  font-size: 48px;
}

.banner-info {
  font-size: 20px;
  font-weight: 500;
}

.subTitle-top {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 8px;
}

.top-img {
  width: 200px;
  height: 200px;
  transition: 1s;
}

.top-img:hover {
  filter: saturate(2.2)
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  text-align: center;
}

.cocktail-card {
  flex: 1 0 300px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.cocktail-card:hover {
  transform: translateY(-5px);
}

.cocktail-image {
  width: 100%;
  object-fit: cover;
}

.cocktail-info {
  padding: 15px;
}

.cocktail-name {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cocktail-description {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

footer{
  text-align: center;
}


/* cocktails.html */
.container-info {
  display: flex;
  justify-content: center;
  height: 78vh;
}

.main-list {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
}

.links {
  color: white;
  text-decoration: none;
  margin: 2rem;
  padding: 8px;
  text-align: center;
  border-radius: 12px;
  background-color: #a1902b7a;
  transition:transform 0.7s;
}

.links:hover {
  transform: translateY(-8px);
}

.img-list {
  height: 250px;
  width: 250px;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: 1s;
}

.img-list:hover {
  filter: saturate(2.2);
}

.name {
  color: white;
  list-style: none;
  font-size: 16px;
  font-weight: bolder;
}

/* info-cocktails.html */
.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 800px;
}

.cocktail-details {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 2rem;
  text-align: center;
}

.image-cocktail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.ctn-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.cocktail-name {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ingredient-item {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 10px;
  flex: 1 1 100px;
}

.instructions {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}